@font-face {
   font-family: 'Inter';
   src: url("../../../fonts/Inter-Thin.woff2?v=3.16") format("woff2"),
   url("../../../fonts/Inter-Thin.woff?v=3.16") format("woff");
}
.place__link{
   width: fit-content;
   min-height: fit-content;
   margin: 12px 0 0;
   font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
   text-decoration-line: underline;
   color: #FFFFFF;
   transition: opacity .2s linear;
}
.place__link:hover{
   opacity: .8;
}