.place__link{
   width: fit-content;
   min-height: fit-content;
   margin: 12px 0 0;
   font-family: 'Inter - Regular', 'Arial', 'Helvetica', sans-serif;
   font-size: 18px;
   line-height: 22px;
   text-decoration-line: underline;
   color: #FFFFFF;
   transition: opacity .2s linear;
}
.place__link:hover{
   opacity: .8;
}