@font-face {
   font-family: 'Inter';
   src: url("../../../fonts/Inter-Thin.woff2?v=3.16") format("woff2"),
   url("../../../fonts/Inter-Thin.woff?v=3.16") format("woff");
}
.cover__subtitle{
   width: 340px;
   margin: 32px auto 0;
   font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   color: #FFFFFF;
   z-index: 2;
}
@media screen and (max-width: 768px){
   .cover__subtitle{
      width: 248px;
      margin: 16px auto 0;
      font-size: 14px;
      line-height: 16px;
}
}