@font-face {
   font-family: 'Inter';
   src: url("../../../fonts/Inter-Bold.woff?v=3.16") format("woff"),
   url("../../../fonts/Inter-Bold.woff2?v=3.16") format("woff2");
}
.cover__title{
   width: 540px;
   margin: 0 auto;
   font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 72px;
   line-height: 76px;
   text-align: center;
   color: #FFFFFF;
   text-rendering: optimizeLegibility;
   z-index: 2;
}
@media screen and (max-width: 768px){
   .cover__title{
      width: 228px;
      margin: 0 auto;
      font-size: 32px;
      line-height: 35px;
}
}