.header__lang-link{
   min-height: fit-content;
   font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
   text-align: center;
   text-decoration-line: none;
   color: #FFFFFF;
   transition: opacity .2s linear;
}
.header__lang-link:hover{
   opacity: .8;
}
@media screen and (max-width: 320px){
   .header__lang-link{
      font-size: 18px;
      line-height: 20px;
   }
}