.header__lang-link{
   margin-right: 18px;
   font-family: 'Inter - Regular', 'Arial', 'Helvetica', sans-serif;
   font-size: 24px;
   line-height: 28px;
   text-align: center;
   text-decoration-line: none;
   color: #FFFFFF;
   transition: opacity .2s linear;
}
.header__lang-link:hover{
   opacity: .8;
}
.header__lang-link:nth-of-type(2){
   margin-right: 0;
}
@media screen and (max-width: 768px){
   .header__lang-link{
      height: 20px;
   }
}