.place{
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, fit-content);
   column-gap: 4%;
   row-gap: 48px;
   margin: 0 0 80px;
   padding: 0;
}
.place:last-of-type{
   margin: 0;
}
@media screen and (max-width: 768px){
   .place{
      margin: 0 0 72px;
   }
}
@media screen and (max-width: 720px){
   .place{
      row-gap: 32px;
      column-gap: 0;
      grid-template-columns: repeat(1, 100%);
}
}
@media screen and (max-width: 420px){
   .place{
      margin: 0 0 50px;
   }
}