@font-face {
   font-family: 'Inter';
   src: url("../../../fonts/Inter-Thin.woff2?v=3.16") format("woff2"),
   url("../../../fonts/Inter-Thin.woff?v=3.16") format("woff");
}
.footer__copyright{
   margin: 0;
   font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 16px;
   text-align: center;
   color: #FFFFFF;
}
@media screen and (max-width: 768px){
   .footer__copyright{
      line-height: 14px;
      text-align: start;
      margin: 48px 0 0;
   }
}