.lead__subtitle{
   min-height: fit-content;
   margin: 32px calc((100% - 540px)/2) 64px;
   font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   line-height: 36px;
   text-align: center;
   color: #FFFFFF;
}
@media screen and (max-width: 768px){
   .lead__subtitle{
      margin: 32px calc((100% - 288px)/2) 64px;
      font-size: 16px;
      line-height: 20px;
}
}