.intro{
   width: 77%;
   min-height: fit-content;
   margin: 92px 0 92px;
   text-align: start;
}
@media screen and (max-width: 1024px){
   .intro{
      width: 91%;
      margin: 92px 0 92px ;
   }
}
@media screen and (max-width: 768px){
   .intro{
      width: 94%;
      margin: 88px 0 88px;
   }
}
@media screen and (max-width: 420px){
   .intro{
      width: 90%;
      margin: 64px 0 64px;
}
}