@font-face {
   font-family: 'Inter';
   src: url("../../../fonts/Inter-Thin.woff2?v=3.16") format("woff2"),
   url("../../../fonts/Inter-Thin.woff?v=3.16") format("woff");
}
.place__url-heading{
   height: fit-content;
   margin: 0;
   font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 12px;
   letter-spacing: 0.2em;
   color: #AAAAAA;
}
