.place__paragraph-box{
   width: 100%;
   margin: 0;
   padding: 0;
   height: fit-content;
}
@media screen and (max-width: 420px){
   .place__paragraph-box{
      width: 90%;
      margin: 0 5%;
}
}