.intro__text{
   width: 54%;
   min-height: fit-content;
   margin: 0 0 33px;
   font-family: 'Inter - Regular', 'Arial', 'Helvetica', sans-serif;
   font-size: 16px;
   line-height: 163%;
   color: #FFFFFF;
}
@media screen and (max-width: 1280px){
   .intro__text{
      width: 67%;
   }
}
@media screen and (max-width: 1024px){
   .intro__text{
      width: 100%;
   }
}